@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: Montserrat, sans-serif;
}
main {
  display: flex;
  flex-flow: column wrap;
}

#list {
  /* display: flex; */
  flex-flow: row wrap;
  list-style-type: none;
}

#list thead {
  background-color: rgb(189, 143, 143);
}

#list tr {
  border: 1px solid;
  padding: 0.5em;
  height: 44px;
}
#list tr:nth-child(even) {
  background-color: gray;
}
#list tr:hover {
  background-color: rgb(190, 162, 127);
  text-decoration: underline;
}

.hidden {
  display: none;
}

#list td {
  cursor: pointer;
}

#detailsbox {
  flex: 1 0 15em;
  padding: 1em;
  text-align: center;
  border: 2px solid;
}

#detailsbox dl {
  border: 1px solid;
  text-align: left;
}